MusicPlayer/build-musicPlayer-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
Lottery/build-lottery-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
InfoSystem/build-InfoSystem-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
TextEditor/textEditor/images/about.png
TextEditor/textEditor/images/copy.png
TextEditor/textEditor/images/cut.png
TextEditor/textEditor/images/exit.png
TextEditor/textEditor/images/new.png
TextEditor/textEditor/images/next.png
TextEditor/textEditor/images/open.png
TextEditor/textEditor/images/paste.png
TextEditor/textEditor/images/previous.png
TextEditor/textEditor/images/redo.png
TextEditor/textEditor/images/save.png
TextEditor/textEditor/images/saveAs.png
TextEditor/textEditor/images/undo.png
InfoSystem/build-InfoSystem-Desktop_Qt_5_7_0_MinGW_32bit-Release/
